@use "../utility/responsive" as responsive;
@use "../utility/vw" as vw;
@use "../utility/rem" as rem;

.l-cont {
  padding-top: 60px;

  @include responsive.responsive(md) {
    padding-top: 100px;
  }

  //inner
  &__inner {
    padding-right: vw.vw(20px);
    padding-left: vw.vw(20px);
    margin-right: auto;
    margin-left: auto;

    @include responsive.responsive(lg) {
      padding-right: 20px;
      padding-left: 20px;
      max-width: calc(1440px + 80px * 2);
    }
  }
}

.l-cont-page {
  $block: &;
  padding-top: 60px;
  padding-bottom: 60px;
  @include responsive.responsive(md) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &--latest {
    // padding-top: 0px;
    // padding-bottom: 60px;
    @include responsive.responsive(md) {
      // padding-top: 0px;
      // padding-bottom: 100px;
    }
    &__inner {
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: -40px;
        left: 0;
        width: calc(100%);
        height: 1px;
        background: #e4e4f1;
        @include responsive.responsive(lg) {
          bottom: -60px;
        }
      }
    }
  }
  &__inner {
    margin: auto;
    width: calc(100% * 310 / 390);
    @include responsive.responsive(md) {
      width: calc(100% * 960 / 1440);
    }
  }
  &--prev-next {
    // padding-top: 80px;
    padding-bottom: 20px;
    @include responsive.responsive(md) {
      // padding-top: 160px;
      padding-bottom: 60px;
    }
  }
  &__inner {
    margin: auto;
    width: calc(100% * 310 / 390);
    @include responsive.responsive(md) {
      width: calc(100% * 960 / 1440);
    }
  }
}
