@use "../utility/responsive" as responsive;
@use "../utility/vw" as vw;
@use "../utility/rem" as rem;

.l-header {
  // position: fixed;
  // z-index: 5;
  padding-top: 10px;

  width: 100%;
  @include responsive.responsive(md) {
    padding-top: 20px;
  }
  // backdrop-filter: blur(3px);
  &__inner {
    width: calc(100% * 350 / 390);
    margin: auto;
    @include responsive.responsive(md) {
      width: calc(100% * 1360 / 1440);
      max-width: 1360px;
    }
    &--article {
      @include responsive.responsive(md) {
        width: calc(100% * 1370 / 1440);
        max-width: 1370px;
      }
    }
  }
}
