@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

.p-article-toc {
  width: calc(100% * 760 / 960);
  max-width: 760px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: #ebf2fe;
  border-radius: 5px;
  margin-bottom: 30px;
  @include responsive.responsive(lg) {
    margin-bottom: 40px;
  }
}

.p-article {
  $block: &;

  #{$block}__inner {
    #{$block}__text {
      width: calc(100% * 760 / 960);
      max-width: 760px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: -30px;
      @include responsive.responsive(lg) {
        margin-bottom: -40px;
      }
    }
    p {
      padding-bottom: 30px;
      @include font.Hiragino_W4;
      font-size: rem.rem(15px);
      letter-spacing: 0;
      line-height: 1.6;
      @include responsive.responsive(lg) {
        padding-bottom: 40px;
        font-size: rem.rem(18px);
        letter-spacing: 0;
        line-height: 2;
      }
    }
    h1,
    h2 {
      padding-top: 30px;
      padding-bottom: 30px;
      @include responsive.responsive(lg) {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
    h3,
    h4,
    h5 {
      padding-top: 20px;
      padding-bottom: 30px;
      @include responsive.responsive(lg) {
        padding-top: 22px;
        padding-bottom: 40px;
      }
    }
    h1 {
      @include font.Hiragino_W4;
      font-size: rem.rem(24px);
      letter-spacing: 0;
      line-height: 1.6;
      @include responsive.responsive(lg) {
        font-size: rem.rem(30px);
        letter-spacing: 0;
        line-height: 1.6;
      }
    }

    h2 {
      @include font.Hiragino_W4;
      font-size: rem.rem(22px);
      letter-spacing: 0;
      line-height: 1.6;
      @include responsive.responsive(lg) {
        font-size: rem.rem(26px);
        letter-spacing: 0;
        line-height: 1.6;
      }
    }

    h3 {
      @include font.Hiragino_W4;
      font-size: rem.rem(18px);
      letter-spacing: 0;
      line-height: 1.6;
      @include responsive.responsive(lg) {
        font-size: rem.rem(22px);
        letter-spacing: 0;
        line-height: 1.8;
      }
    }

    h4 {
      @include font.Hiragino_W4;
      font-size: rem.rem(18px);
      letter-spacing: 0;
      line-height: 1.6;
      @include responsive.responsive(lg) {
        font-size: rem.rem(20px);
        letter-spacing: 0;
        line-height: 1.8;
      }
    }

    h5 {
      @include font.Hiragino_W4;
      font-size: rem.rem(16px);
      letter-spacing: 0;
      line-height: 1.6;
      @include responsive.responsive(lg) {
        font-size: rem.rem(19px);
        letter-spacing: 0;
        line-height: 1.8;
      }
    }

    img {
      margin-right: calc(50% - 50vw);
      margin-left: calc(50% - 50vw);
      width: calc(960 / 760 * 100%);
    }

    ul {
      padding-bottom: 20px;
      @include responsive.responsive(lg) {
        padding-bottom: 40px;
      }
      li {
        position: relative;
        margin-left: 25px;
        margin-bottom: 20px;
        @include font.Hiragino_W4;
        font-size: rem.rem(15px);
        letter-spacing: 0.02em;
        line-height: 1.6;
        @include responsive.responsive(lg) {
          font-size: rem.rem(18px);
          letter-spacing: 0.029em;
          line-height: 2;
        }
        &:last-of-type {
          margin-bottom: 0px;
        }
        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          top: 8px;
          left: -20px;
          border-radius: 50%;
          width: 5px;
          height: 5px;
          background: #232e52;

          @include responsive.responsive(lg) {
            top: 15px;
            left: -19px;
          }
        }
      }
    }
    ol {
      padding-bottom: 20px;
      @include responsive.responsive(lg) {
        padding-bottom: 40px;
      }
      li {
        position: relative;
        margin-left: 25px;
        margin-bottom: 20px;
        @include font.Hiragino_W4;
        font-size: rem.rem(15px);
        letter-spacing: 0.02em;
        line-height: 1.6;
        @include responsive.responsive(lg) {
          font-size: rem.rem(18px);
          letter-spacing: 0.029em;
          line-height: 2;
        }
        &:last-of-type {
          margin-bottom: 0px;
        }
      }
    }
  }
}
