@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

.fixedClass {
  color: #ffffff;
}

.p-header {
  $block: &;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px 10px 0 0;

  @include responsive.responsive(md) {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 30px;
    border-radius: 10px 10px 0 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    #{$block}__logo {
    }

    #{$block}-pc {
      #{$block}__nav {
        display: flex;
        align-items: center;
        #{$block}__list {
          display: flex;
          align-items: center;
          margin-right: -10px;
          @include responsive.responsive(sm) {
            margin-right: -20px;
          }
          @include responsive.responsive(md) {
            margin-right: -40px;
          }
          #{$block}__item {
            margin-right: 10px;
            @include responsive.responsive(sm) {
              margin-right: 20px;
            }
            @include responsive.responsive(md) {
              margin-right: 40px;
            }
            a {
              @include font.Graphik;
              font-size: rem.rem(10px);
              letter-spacing: 0em;
              line-height: 1;
              @include responsive.responsive(sm) {
                font-size: rem.rem(14px);
                letter-spacing: 0em;
                line-height: 1;
              }
              @include responsive.responsive(md) {
                font-size: rem.rem(18px);
                letter-spacing: 0em;
                line-height: 1;
              }
            }
          }
        }
      }
    }
  }
  &--fixed {
    #{$block}__logo {
      color: #ffffff;
    }
    #{$block}__item a {
      color: #ffffff;
    }
    #{$block}__btn {
      a {
        color: #142474;
        background-color: #ffffff;
      }
    }
    #{$block}__burger {
      span {
        background-color: #ffffff;
      }
    }
  }
}

.p-header--radius {
  border-radius: 10px;
}
