@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

.c-blog {
  margin-bottom: 80px;
  @include responsive.responsive(sm) {
    margin-bottom: 115px;
  }

  &-heading {
    h2 {
      margin-bottom: 30px;
      @include font.Hiragino_W7;
      font-size: rem.rem(24px);
      letter-spacing: 0;
      line-height: 1.3;

      @include responsive.responsive(md) {
        margin-bottom: 60px;
        font-size: rem.rem(36px);
        letter-spacing: 0;
        line-height: 1.6;
      }
    }
  }
  &-item {
    list-style-type: none;
    $block: &;
    // max-width: 960px;
    // margin-right: auto;
    // margin-left: auto;
    margin-bottom: 80px;
    @include responsive.responsive(sm) {
      margin-bottom: 97px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    position: relative;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: -54px;
      left: 0;
      width: calc(100%);
      height: 1px;
      background: #e4e4f1;
    }

    &:last-of-type {
      &::before {
        content: "";
        display: none;
      }
    }
    a {
      @include responsive.responsive(sm) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      @include responsive.responsive(xl) {
        align-items: end;
      }
    }

    &__text-area {
      width: 100%;
      @include responsive.responsive(sm) {
        width: calc(55%);
      }
      @include responsive.responsive(lg) {
        width: calc(100% * 660 / 960);
      }

      #{$block}__head {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        @include responsive.responsive(md) {
          margin-bottom: 20px;
        }
        #{$block}__cat {
          background-color: #ebf2fe;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-right: 10px;
          padding-left: 10px;
          text-align: center;
          @include font.Hiragino_W7;
          font-size: rem.rem(10px);
          letter-spacing: 0;
          line-height: 1;

          @include responsive.responsive(md) {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 20px;
            padding-left: 20px;
            font-size: rem.rem(12px);
            letter-spacing: 0;
            line-height: 1;
          }
        }
        #{$block}__date {
          padding-top: 5px;
          padding-bottom: 5px;
          padding-right: 10px;
          padding-left: 10px;
          text-align: center;
          @include font.Hiragino_W7;
          font-size: rem.rem(10px);
          letter-spacing: 0;
          line-height: 1;

          @include responsive.responsive(md) {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 20px;
            padding-left: 20px;
            font-size: rem.rem(12px);
            letter-spacing: 0;
            line-height: 1;
          }
        }
      }
      #{$block}__body {
        margin-bottom: 20px;
        @include responsive.responsive(md) {
          margin-bottom: 0px;
        }
        #{$block}__title {
          margin-bottom: 10px;
          @include font.Hiragino_W7;
          font-size: rem.rem(16px);
          letter-spacing: 0;
          line-height: 1.6;

          @include responsive.responsive(md) {
            font-size: rem.rem(24px);
            letter-spacing: 0;
            line-height: 1.6;
          }
        }
        #{$block}__text {
          @include font.Hiragino_W4;
          font-size: rem.rem(13px);
          letter-spacing: 0;
          line-height: 1.8;
          @include responsive.responsive(md) {
            font-size: rem.rem(16px);
            letter-spacing: 0;
            line-height: 1.8;
          }
        }
      }
    }
    &__img-area {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      @include responsive.responsive(sm) {
        margin-right: 0;
        margin-left: auto;
        width: calc(40%);
        max-width: 300px;
      }
      @include responsive.responsive(lg) {
        width: calc(100% * 260 / 960);
      }

      #{$block}__img {
      }
    }
  }
  &--article {
    margin-bottom: 0px;
    padding-bottom: 0px;
    @include responsive.responsive(sm) {
    }
  }
}
