@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;

.p-heading {
  $block: &;

  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 102px;
  border-radius: 0 0 10px 10px;

  &__inner {
    width: calc(100% * 310 / 350);
    margin: auto;

    @include responsive.responsive(md) {
      width: calc(100% * 960 / 1370);
    }
  }
  #{$block}__head {
    position: relative;
    @include responsive.responsive(md) {
      &::before {
        content: "";
        position: absolute;
        left: -58px;
        width: 8px;
        height: 8px;
        border: 1px solid;
        border-color: transparent transparent #fff #fff;
        transform: rotate(45deg);
      }
      &::after {
        content: "";
        position: absolute;
        left: -74px;

        width: 34px;
        height: 34px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
      }
    }
  }
  #{$block}__title {
    @include font.Hiragino_W7;
    font-size: rem.rem(24px);
    letter-spacing: 0;
    line-height: 1.3;

    @include responsive.responsive(md) {
      font-size: rem.rem(36px);
      letter-spacing: -0.03em;
      line-height: 1.6;
    }
  }
  #{$block}__cat {
    color: #fff;
    background-color: #232e52 !important;
    border-radius: 6px 0 0 6px;
  }
  #{$block}__date {
    color: #232e52;
    background-color: #fff !important;
    border-radius: 0 6px 6px 0;
  }
}
