@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;

.c-logo {
  width: 53px;
  @include responsive.responsive(md) {
    width: 80px;
  }
  .c-logo__svg {
    path {
    }
  }
}

.text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
