@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;

.c-pagenation-list {
  display: flex;
  margin-right: -10px;
  @include responsive.responsive(sm) {
    margin-right: -20px;
  }
  .c-pagenation-item {
    a {
      display: block;
      padding: 8px 10px;
      margin-right: 10px;
      border-radius: 5px;
      background-color: #ebf2fe;
      color: #232e52;
      @include font.Hiragino_W4;
      font-size: rem.rem(10px);
      letter-spacing: 0em;
      line-height: 1;
      @include responsive.responsive(sm) {
        padding: 15px 20px;
        margin-right: 20px;
        font-size: rem.rem(12px);
        letter-spacing: 0em;
        line-height: 1;
      }
      &:hover {
        background-color: #eaeaea;
      }
    }
  }
}
