@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

.c-toc {
  &__header {
    margin-bottom: 10px;
    color: #232e52;
    @include font.Hiragino_W4;
    font-size: rem.rem(16px);
    letter-spacing: 0;
    line-height: 1.6;

    @include responsive.responsive(lg) {
      font-size: rem.rem(18px);
      letter-spacing: 0;
      line-height: 2;
    }
  }
}

.toc-list {
  // margin-bottom: -10px;
}
.toc-list-item {
  list-style: none;
}

.toc-link {
  display: inline-block;
  margin-bottom: 10px;
  color: #232e52;
  @include font.Hiragino_W4;
  font-size: rem.rem(13px);
  letter-spacing: 0;
  line-height: 1.6;
  @include responsive.responsive(lg) {
    margin-bottom: 16px;
    font-size: rem.rem(16px);
    letter-spacing: 0;
    line-height: 1.3;
  }

  position: relative;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: calc(100%);
    height: 1px;
    background: #e4e4f1;
    @include responsive.responsive(lg) {
      bottom: -8px;
    }
  }
}
// <style jsx global>{`
//   .c-toc__body {

//   }

//   .toc-list .toc-list {
//   }

//   .toc-list-item {
//   }

//   .toc-list-item:last-child {
//   }

//   .toc-link {
//     color:red;
//           @include font.Hiragino_W4;
// font-size: rem.rem(15px);
// letter-spacing: 0;
// line-height: 1.6;
// @include responsive.responsive(lg) {
//   padding-bottom: 40px;
//   font-size: rem.rem(18px);
//   letter-spacing: 0;
//   line-height: 2;
//   }

//   .is-active-link {
//   }
// `}</style>
