*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  body {
    // background-color: white;
    // color: #232e52;
    position: relative;

    a {
      text-decoration: none;
      // color: #232e52;
      transition: 0.3s;

      &:hover {
        transition: 0.3s;
        opacity: 0.7;
      }
    }

    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
}
