// foundaton
@use "foundation/reset";
@use "foundation/base";

//variables
@use "variables/breakpoints";
@use "variables/lists";
@use "variables/colors";

///utility
@use "utility/responsive";
@use "utility/flex";
@use "utility/only";
@use "utility/margin";
@use "utility/padding";
@use "utility/strip-unit";
@use "utility/vw";
@use "utility/rem";
@use "utility/font";
@use "utility/position";
@use "utility/align";

// layout
@use "layout/l-header";

@use "layout/l-heading";
@use "layout/l-cont";
@use "layout/l-footer";

//conponent
@use "object/component/blog";
@use "object/component/logo";
@use "object/component/heading";
@use "object/component/pagenation";
@use "object/component/toc";
@use "object/component/switch";
@use "object/component/prev-next.scss";
// @use "object/component/btn";

//project
@use "object/project/header";
@use "object/project/article";
@use "object/project/home";
@use "object/project/category";
@use "object/project/footer";
@use "object/project/notfound";
// @use "object/project/our-feature";
// @use "object/project/abortion-surgery";
// @use "object/project/caution";
// @use "object/project/treatment-cost";
// @use "object/project/doctors";
// @use "object/project/access";
