/* :root {
  --color-primary: #000;
  --color-button: #324171;
  --color-paragraph: #797979;
  --color-button-text: rgb(255, 255, 255);
  --color-background: #fff;
}

[data-theme="dark"] {
  --color-primary: #fff;
  --color-button: #32ed6a;
  --color-paragraph: #8a8a8a;
  --color-button-text: rgb(0, 0, 0);
  --color-background: #22212b;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: 16px;
}

a {
  color: var(--color-anchor);
}

h1,
h3,
p {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav .title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-primary);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2.5rem;
}

section .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 90vh;
}

section .content h1 {
  font-size: 55px;
}

section .content h3 {
  padding: 30px 0px 15px 0px;
}

section .content p {
  font-size: 18px;
  color: var(--color-paragraph);
}

.content button {
  margin-top: 30px;
  background-color: var(--color-button);
  border-radius: 5px;
  color: var(--color-button-text);
  padding: 15px 30px;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
} */
